/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2015, 5:43:02 PM
    Author     : zalbiya
*/

*
{
    //border: 1px solid black;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html 
{
    height: 100%;
}

body
{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;

    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.form {
    position: absolute;

    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;

}

form {
    margin: auto;
    width: 450px;
}

#uns
{
    float: right;
}

table
{
    text-align: left;
}

/*Permet d'alterner les couleurs des tableaux*/
table tr:nth-child(2n+2)
{
    background-color: #e7d8c3;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

//**************** CSS pour le menu ****************//
nav,
nav ul,
nav li,
nav a {
    border: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}
nav {
    height: 37px;
    display: block;
    border: 1px solid;
    border-radius: 5px;
    width: auto;
    border-color: #080808;
    margin: 0;
    padding: 0;
}
nav > ul {
    list-style: inside none;
    margin: 0;
    padding: 0;
}
nav > ul > li {
    list-style: inside none;
    float: left;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
nav.align-center > ul {
    text-align: center;
}
nav.align-center > ul > li {
    float: none;
    margin-left: -3px;
}
nav.align-center ul ul {
    text-align: left;
}
nav.align-center > ul > li:first-child > a {
    border-radius: 0;
}
nav > ul > li > a {
    outline: none;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    font-weight: 700;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #080808;
    color: #ffffff;
    padding: 9px 20px;
}
nav > ul > li:first-child > a {
    border-radius: 5px 0 0 5px;
}
nav > ul > li > a:after {
    content: "";
    position: absolute;
    border-right: 1px solid;
    top: -1px;
    bottom: -1px;
    right: -2px;
    z-index: 99;
    border-color: #3c3c3c;
}
nav ul li.has-sub:hover > a:after {
    top: 0;
    bottom: 0;
}
nav > ul > li.has-sub > a:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 6px;
    border: 5px solid transparent;
    border-top: 5px solid #ffffff;
}
nav > ul > li.has-sub:hover > a:before {
    top: 19px;
}
nav > ul > li.has-sub:hover > a {
    padding-bottom: 14px;
    z-index: 999;
    border-color: #3f3f3f;
}
nav ul li.has-sub:hover > ul,
nav ul li.has-sub:hover > div {
    display: block;
}
nav > ul > li.has-sub > a:hover,
nav > ul > li.has-sub:hover > a {
    background: #3f3f3f;
    border-color: #3f3f3f;
}
nav ul li > ul,
nav ul li > div {
    display: none;
    width: auto;
    position: absolute;
    top: 38px;
    background: #3f3f3f;
    border-radius: 0 0 5px 5px;
    z-index: 999;
    padding: 10px 0;
}
nav ul li > ul {
    width: 200px;
}
nav ul ul ul {
    position: absolute;
}
nav ul ul li:hover > ul {
    left: 100%;
    top: -10px;
    border-radius: 5px;
}
nav ul li > ul li {
    display: block;
    list-style: inside none;
    position: relative;
    margin: 0;
    padding: 0;
}
nav ul li > ul li a {
    outline: none;
    display: block;
    position: relative;
    font: 10pt Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 8px 20px;
}
nav,
nav ul ul > li:hover > a,
nav ul ul li a:hover {
    background: #3c3c3c;
    background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
    background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
nav > ul > li > a:hover {
    background: #080808;
    color: #ffffff;
}
nav ul ul a:hover {
    color: #ffffff;
}
nav > ul > li.has-sub > a:hover:before {
    border-top: 5px solid #ffffff;
}
//*********************** Fin CSS menu ***********************//