
* {-moz-box-sizing: border-box; box-sizing: border-box;}
header
{
    margin-top: 15px;
    border-radius: 5px;
    position: relative;
    border-bottom: 1px solid gray;

}
html{
    height:100%;
}


body {

    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 90px;
}


#detailsEntreprise {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
}

#map {
    display: inline-block;
    width: 47%;
    margin-left: 3%;
    margin-right: 0;
    vertical-align: bottom;
}

.en-tete {
    display: inline-block;
    vertical-align: middle;
    /*border: 1px solid red;*/
}

header h1 {
    margin: 0 auto;
    display: inline-block;
}

footer img {
    height: 60px;
    width: 100px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}